.social-join-card-wrapper {
    overflow: hidden;
    background-color: #F8F8F8;
    padding-top: 65px;
    padding-bottom: 75px;

    .join-social-card {
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-radius: 4px;
        height: 454px;
        background-color: #eee;
        background-position: top center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 40px;

        @media (max-width: 767px) {
            margin-top: 30px;
            height: 400px;
        }

        &:hover {

            .social-icons {
                opacity: 1;
                visibility: visible;
                margin-bottom: 50px;
            }

            &::before {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }


        &::before {
            position: absolute;
            background: rgba(10, 11, 15, 0.39);
            border-radius: 4px;
            z-index: -1;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 70%;
            opacity: 0;
            visibility: hidden;
            transition: all .4s ease-in-out;
        }

        .social-icons {
            margin-bottom: 30px;
            position: relative;
            transition: all .4s ease-in-out;
            opacity: 0;
            visibility: hidden;

                
            a { 
                display: inline-block;
                font-size: 16px;
                line-height: 40px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 15px;
                color: #404E5A;
                text-align: center;
                margin-top: 7px;
                background-color: #fff;

                &:hover {
                    background-color: $second-color;
                    color: #fff;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.single-social-box { 
    background: #F8F8F8;
    border-radius: 12px;
    padding: 33px 17px;
    margin-top: 50px;
    transition: all .35s ease-in-out;

    @media (max-width: 991px) {
        margin-top: 30px;
    }

	.icon { 
        margin-bottom: 20px;
        display: block;
	}

	.content { 

		h3 { 
            margin-bottom: 12px;
		}

		p { 
            font-size: 16px;
		}
	}
}

.promo-offer-wrapper {
    padding-top: 80px;
    padding-bottom: 160px;
    position: relative;

    @media (max-width: 991px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.block-contents { 

	h1 { 
        font-weight: 500;
        margin-bottom: 35px;
	}

	h6 { 
        font-weight: 500;
	}

    ul {
        margin-top: 25px;

        li { 
            position: relative;
            padding-left: 28px;
            margin-top: 25px;
            
            @media (min-width: 991px) {
                padding-right: 40px;
            }

            &::before {
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: #666;
                border-radius: 50%;
                content: "";
                left: 0;
                top: 10px;
            }
        }
    }


	.terms-wrapper { 

		h2 { 

		}

	}

	.promo-bottom-content { 

		h3 { 

		}
	}
}