/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd {
    line-height: 1;
    display: inline-block;
    @include transition(.4s);
    text-transform: capitalize;    
    position: relative;
    z-index: 1;
}

.theme-btn {
    color: $white;
    @extend .btnd;    
    padding: 15px 42px;
    font-size: 18px;
    font-weight: 500;
    color: $white;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    transition: all .3s ease-in-out;
    border-radius: 7px;

    @media (max-width: 580px) {
        padding: 12px 34px;
        font-size: 16px;
    }

    i {
        margin-left: 8px;
        line-height: 1;

        &::before {
            font-size: 12px;
        }
    }


    &.no-fil {
        background-color: transparent;
        border-color: rgba($color: #fff, $alpha: 0.2);        
        box-shadow: inherit;
        margin-left: 15px;

        @media (max-width: 500px) {
            margin-left: 0;
        }

        &:hover {
            background-color: $second-color;
            border: 1px solid $second-color;
        }
    }

    &.black {
        background-color: $theme-color;
        border-color: $theme-color;
        box-shadow: inherit;

        &:hover {
            background-color: $second-color;
            border: 1px solid $second-color;            
        }
    }

    &.minimal-btn {
        color: #727475;
        border: 1px solid #ebebeb;
        background: transparent;
    }

    &:hover {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
    }

}


.video-btn {
    @extend .btnd;

    font-size: 16px;
    font-weight: 700;
    color: $second-color;

    i {
        margin-right: 10px;
    }
}

.video-play-btn {    

    .play-video {        
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background-color: #fff;
        color: $third-color;
        line-height: 122px;
        transition: all .3s ease-in-out;
        text-align: center;
        animation: playVideo infinite 3.5s;
        display: inline-block;
        margin: 0px auto;
        font-size: 18px;
        box-shadow: 0px 16px 32px 0px rgba(51, 51, 51, 0.04);

        @media (max-width: 767px) {
            width: 80px;
            height: 80px;
            line-height: 80px;
        }
    
        &:hover {
            color: $theme-color;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    .play-text {
        font-weight: 700;
    }
}