.contact-form {
    padding-top: 40px;

    @media (max-width: 585px) {
        padding-top: 20px;
    }

    .single-personal-info {
        margin-bottom: 20px;
    }

    input,
    textarea {
        width: 100%;
        background: #f8f8f8;
        line-height: 1;
        padding: 25px 30px;
        border: 0px;

        @media (max-width: 585px) {
            padding: 15px;
            font-size: 13px;
        }

    }

    textarea {
        height: 220px;

        @media (max-width: 767px) {
            height: 160px;
        }
    }

    label {
        color: #202426;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: capitalize;

        span {
            color: #727475;
            margin-left: 5px;
        }
    }

    input[type='submit'],
    .submit-btn {
        background: $second-color;
        color: #fff;
        font-weight: 700;
        line-height: 1;
        padding: 25px 40px;
        transition: all .3s ease-in-out;
        width: 280px;

        &.active,
        &:hover {
            background-color: $theme-color;
        }

        i {
            margin-right: 8px;
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }
}