.contact-form {
    padding: 54px 50px;
    background-color: #FBFBFD;
    margin-top: 70px;


    .single-personal-info {
        margin-bottom: 20px;
    }

    input,
    textarea,
    select {
        width: 100%;
        background: #fff;
        line-height: 1;
        padding: 15px 27px;
        border: 0px;
        color: #777777;
        font-size: 16px;

        @media (max-width: 585px) {
            padding: 15px;
            font-size: 13px;
        }

    }

    select {
        display: block;
    }

    textarea {
        height: 220px;

        @media (max-width: 767px) {
            height: 160px;
        }
    }

    label, span {
        color: #777777;
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: capitalize;
        display: block;
    }

    input[type='submit'],
    .submit-btn {
        background: $theme-color;
        color: #fff;
        line-height: 56px;
        height: 56px;
        transition: all .3s ease-in-out;
        width: 300px;
        border-radius: 4px;
        font-size: 20px;
        padding: 0;
        text-transform: capitalize;
        margin-top: 40px;

        &.active,
        &:hover {
            background-color: $third-color;
        }

        i {
            margin-right: 8px;
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }
}