.cta-wrapper {
    background-position: top;

    h1 {
        @media (max-width: 767px) {
            font-size: 32px;
            line-height: 1.3;
        }
    }

    &.style-2 {
        @include overlay($theme-color, 0.5);
    }

    i {
        margin-left: 6px;
    }
}


.video-pop-up-wrapper {
    @media (min-width: 1400px) {
        padding: 200px 0px;
    }
}
.featured-video-wrapper {
    padding: 150px 0px;

    @media (max-width: 767px) {
        padding: 100px 0px;
    }   
}


.skills-video {
    height: 430px;
}