footer {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            list-style: none;
        }
    }

    .site-about-wid { 

        .logo { 
    
            a { 
    
                img { 
    
                }
            }
        }
    
        .mobile-number { 
    
        }
    
        .single-contact-info { 
    
            .icon { 
    
                .icon-mail { 
    
                }
            }
    
            .content { 
    
            }
        }
    }

    .single-footer-widgets { 

        .wid-title { 
    
            p { 
    
            }
        }
    
        ul { 
    
            li { 
    
                a { 
    
                }
            }
        }
    }


    .newsletter-form { 

        p { 
    
        }
    
        form { 
    
            input { 
    
            }
    
            button { 
    
                .icon-arrow-long-right { 
    
                }
            }
        }
    }

    .social-links { 

        p { 
    
        }
    
        .social-icon { 
    
            a { 
    
                .icon-facebook { 
    
                }
            }
        }
    }

}





.footer-social-icon { 
    margin-top: 25px;

    a { 
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        background-color: $second-color;
        color: $white;
        font-size: 16px;
        margin-right: 5px;
    }
}
