header {
    position: relative;
    z-index: 99;

    ul {
        padding: 0;
        margin: 0;
    }

    &.sticky {
        top: 0 !important;
        width: 100%;
        position: fixed !important;      
        background: #fff;
        animation: sticky .8s ease-in-out;
        box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);
     
        @media (max-width: 767px) {
            position: relative;
        }

        hr {
            display: none !important;
        }
    }

    &.header-wrapper {
        @media (min-width: 992px) {
            margin-bottom: 20px;
        }

        hr {
            border-bottom: 1.2px solid #C4C4C6;

        }

        @media (max-width: 1100px) {
            padding: 15px 0px;
        }
        
        .logo {
            a {
                display: block;
            }
        }

        .main-menu {                         
            ul {
                line-height: 1;                    
                > li {
                    display: inline-block;
                    line-height: 1;

                    > a {
                        display: inline-block;
                        font-weight: 400;
                        text-transform: capitalize;
                        color: #606062;
                        line-height: 1;
                        padding: 38px 17px;
                        overflow: hidden;
                        text-align: left;
                        position: relative;
                        font-size: 18px;

                        span {
                            margin-left: 3px;
                            font-size: 14px;
                        }

                        @media (max-width: 1199px) {
                            padding: 26px 20px;  
                        }
                    }

                    &:hover {
                        > a {
                            color: $second-color;
                        }

                        > ul {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);

                             li:hover {
                                a {
                                    color: $theme-color;
                                }

                                ul {
                                    a:hover {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    > ul {
                        position: absolute;
                        top: 100%;
                        width: 230px;
                        background-color: $second-color;
                        left: 0;
                        z-index: 999;
                        box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(40px);
                        transition: all .5s ease-in-out;
                        padding: 10px 0px;
                        
                        li {
                            display: block;
                            a { 
                                display: block;                              
                                color: $white;
                                padding: 10px 24px;
                                line-height: 1.5;
                                
                                &:hover { 
                                    color: $theme-color;
                                }
                            }
                        }

                        ul {
                            left: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }

    }

    &.header-style-2 {
        
    }

}

.header-right-element, .action-bar { 

    .search-box {
        margin-right: 30px;

        @media (max-width: 1100px) {
            margin-right: 15px;
        }

        form { 
            position: relative;
            width: 100%;
            height: 44px;

            input { 
                color: $third-color;
                padding-left: 38px;
                height: 100%;
                border: 1px solid #BEC0C2 !important;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
                line-height: 1;

                @media (min-width: 767px) and (max-width: 1100px) {
                    width: 130px;
                }

                &::placeholder {
                    color: #787A80;
                }
            }

            .icon-search { 
                position: absolute;
                left: 11.5px;
                font-size: 16px;
                top: 50%;
                transform: translateY(-50%);
                color: #787A80;
            }
        }
    }

    .product-cart { 

        a { 
            color: #4A4C54;
            font-size: 22px;
        }
    }

    .user-login { 
        margin-left: 30px;

        @media (max-width: 1100px) {
            margin-left: 15px;
        }

        a { 
            color: #4A4C54;
            font-size: 22px;
        }
    }
}

.promo-top-bar-wrapper { 
    background-color: #202022;
    padding: 22px 0px;

    @media (max-width: 991px) {
        padding: 15px 0px;
    }

    @media (max-width: 767px) {
        padding: 10px 0px;
    }

    .promo-heading { 

        span { 
            font-size: 16px;
            line-height: 24px;

            @media (max-width: 991px) {
                font-size: 14px;
            }

            @media (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
}

.page-banner-wrap {
    background-color: $theme-color;
    padding-top: 115px;
    padding-bottom: 135px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 991px) {
        padding-top: 110px;
        padding-bottom: 90px;
    }

    @media (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    @media (max-width: 500px) {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    &::before{
        position: absolute;
        left: 0;
        content: "";
        top: 0;
        background: rgba(47, 54, 62, 0.45);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    h1 {
        text-transform: capitalize;
        font-size: 64px;
        line-height: 74px;
    }
  
}

.shop-page-banner {
    padding-top: 150px;
    padding-bottom: 135px;

    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: 767px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.breadcrumb-wrapper {
    padding: 20px 0px;
    color: $third-color;

    a {
        &:hover {
            color: $second-color;
        }
    }

    .breadcrumb {
        background: transparent;
        padding: 0;
        margin: 0;
        
        .breadcrumb-item {
            font-size: 15px;
            font-weight: 500;
            text-transform: capitalize;
            padding-right: 4px;
            
            &.active {
                padding-left: 10px;
            }

            a {
                color: $third-color;
                font-weight: 500;

                &:hover {
                    color: $second-color;
                }
            }            
        }

        .breadcrumb-item + .breadcrumb-item {
            &::before {
                content: "\e800";
                font-family: $fa;
                font-size: 14px;
                font-family: "lacesup";
            }
        }
        
    }
}

.mobile-nav {
    position: fixed;
    right: -380px;
    top: 0;
    width: 320px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: right .5s ease-in;
    background-color: $theme-color;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        right: 0px;
    }

    .close-nav {
      border: 0;
      background: transparent;
      color: #fff;
      border-radius: 30px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 10px;
    }

    /* Vertical Menu Style */
    .sidebar-nav {
        margin-top: 30px;
    }
    .sidebar-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent
    }
    .sidebar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu>li {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu a {
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all .3s ease-out;
        text-decoration: none;
        color: #fff;
        outline-width: 0;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sidebar-nav .metismenu ul a {
        padding: 10px 15px 10px 35px;
        position: relative;

        &:hover {
            padding-left: 40px;
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            position: absolute;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            content: "";
            top: 50%;
            transition: all .3s ease-in-out;
            transform: translateY(-50%);
        }
    }
    .sidebar-nav .metismenu ul ul {
        list-style-type: circle !important;
    }
    .sidebar-nav .metismenu ul ul a {
        padding: 10px 15px 10px 45px;        
    }
    .sidebar-nav .metismenu a:hover,
    .sidebar-nav .metismenu a:focus,
    .sidebar-nav .metismenu a:active {
        text-decoration: none;
        color: #f8f9fa;
        background: $theme-color;
    }

}

#hamburger {
    color: $theme-color;
    font-size: 30px;
    line-height: 1;
    text-align: right;
    display: none;
    margin-top: -3px;
    
    i {
        cursor: pointer;
    }

    @media (max-width: 991px) {
        display: block;
    }
}

.action-bar {
    margin-top: 30px;
    padding-left: 20px;
    a {
        color: #fff;
        display: block;

        i {
            margin-right: 10px;
        }

        &.theme-btn {
            text-align: center;
            background-color: $second-color;
        }
    }
}


/* ---------------------------------
    Offset Canvas Menu Style 
------------------------------------*/
.offset-menu {
	position: fixed;
	height: 100vh;
	top: 0;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    right: -30%;
    transition: all .5s ease-in-out;
    background-color: $second-color;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .offset-menu-wrapper {
        width: 360px;
        padding: 80px 30px;
    }

    .theme-btn {
        padding: 20px 45px;
        font-weight: 500;
        margin-top: 40px;
    }

    .offset-menu-section {
        h3, h4, h5 {
            line-height: 1;
            margin-bottom: 20px;
        }
    
        margin-top: 40px;
    
        a {
            margin-bottom: 10px;
        }
    
        ul {
            li {
                span {
                    margin-right: 10px;
                }
                margin-bottom: 5px;
            }
        }
    }
    
    #offset-menu-close-btn {
        position: fixed;
        right: 30px;
        font-size: 28px;
        transform: rotate(45deg);
        color: #fff;
        cursor: pointer;
        transition: all .2s ease-in-out;
        z-index: 9;
        top: 20px;

        &:hover {
            color: $theme-color;
        }
    }

    .offset-menu-footer {
        margin-top: 35px;
    }

    .offset-menu-social-icon {
        a {
            font-size: 16px;
            background: $second-color;
            display: inline-block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 5px;
    
            &:hover {
                background: $theme-color;
            }
        }
    }

    img {
        display: inline-block;
        background: #fff;
        padding: 10px 20px;
    }

}
