.hero-wrapper {
    position: relative;

    .rotate-big-text { 
        font-size: 144px;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        color: #FFA4A4;
        right: 0px;
        z-index: 3;
        opacity: .52;

        @media (min-width: 1400px) {
            right: -175px;
        }

        @media (min-width: 1900px) {
            right: 30px;
        }

        @media (max-width: 1600px) {
            font-size: 120px;
        }

        @media (max-width: 1400px) {
            font-size: 90px;
        }

        @media (max-width: 991px) {
            right: -80px;
            font-size: 70px;
        }
    }

	.single-slide { 
        padding-top: 280px;
        padding-bottom: 50px;
        position: relative;
        background-color: #FF7675;

		.hero-content { 

            h1 { 
                font-size: 64px;
                line-height: 120%;

                @media (max-width: 991px) {
                    font-size: 50px;
                }

                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p {

                @media (min-width: 991px) {
                    padding-right: 150px;
                }
            }

            .theme-btn { 
                padding-left: 22px;
                padding-right: 22px;
            }

            .arrow-icon {
                display: inline-block;
                position: relative;
                margin-left: 50px;
                top: 75px;
            }
        }

        .hero-img-wrapper {
            margin-right: -50px;

            @media (max-width: 767px) {
                margin-right: 0;
            }

            img {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        .products-info-funfact { 

            .product-rating { 
                background: #FFFFFF;
                box-shadow: 16px 16px 26px rgba(44, 50, 56, 0.06);
                border-radius: 8px;
                padding: 21px 24px;
                display: inline-block;

                p {
                    color: #606062 !important;
                }

                h3, h4, h5, h2 {
                    color: #606062;
                }
    

                .review-star {
                    margin-bottom: 15px;
        
                    span { 
                        font-size: 24px;
                        color: #8093D0 !important;
                        position: relative;
                        padding-right: 15px;
                        margin-right: 15px;

                        &::before {
                            position: absolute;
                            right: 0;
                            content: "";
                            height: 15px;
                            width: 2px;
                            background-color: #8093D0 !important;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
        
                    .star-rating { 
                        color: #FED10C;

                        i {
                            &::before {
                                font-size: 16px;
                            }
                        }
                    }
                }
        
                p { 
                    font-family: $heading-font;
                    color: #606062;
                    font-weight: 500;
                }
            }
        
            .product-sold { 
        
                h2 { 
                    font-size: 34px;
                    color: #8093D0;
                }
        
                h6 { 
                    margin-bottom: 0;
                    margin-top: 5px;
                    color: #58595B;
                }
            }
        
            .product-collection { 
        
                h2 { 
                    color: #8093D0;
                    font-size: 34px;
                }
        
                h6 { 
                    margin-bottom: 0;
                    margin-top: 5px;
                    color: #58595B;
                }
            }
        }
	}

	.single-slide-2 { 
        padding-top: 180px;
        padding-bottom: 120px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: #FF7675;

        &::before {
            position: absolute;
            width: 40%;
            height: 400%;
            right: 0;
            top: -20%;
            content: "";
            background: linear-gradient(180deg, #8093D0 0%, #80C5E0 100%);
            z-index: -1;

            @media (max-width: 1191px) {
                display: none;
            }
        }

		.rotate-big-text { 
            font-size: 144px;
            font-weight: 500;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            color: #E4E6E9;
            opacity: .4;

            @media (max-width: 991px) {
                font-size: 90px;
            }

            @media (max-width: 991px) {
                right: -80px;
                font-size: 70px;
            }
		}

		.hero-content { 

            h1 { 
                font-size: 64px;
                line-height: 120%;
                color: #fff;

                @media (max-width: 991px) {
                    font-size: 50px;
                }

                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p { 
                color: #fff;
            }

            .theme-btn { 
                padding-left: 22px;
                padding-right: 22px;
            }

            .arrow-icon {
                display: inline-block;
                position: relative;
                margin-left: 50px;
            }
        }

	}
}