@font-face {
    font-family: 'lacesup';
    src: url('../fonts/lacesup.eot?75597158');
    src: url('../fonts/lacesup.eot?75597158#iefix') format('embedded-opentype'),
         url('../fonts/lacesup.woff2?75597158') format('woff2'),
         url('../fonts/lacesup.woff?75597158') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'lacesup';
      src: url('../font/lacesup.svg?75597158#lacesup') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "lacesup";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-right:before { content: '\e800'; } /* '' */
  .icon-left:before { content: '\e801'; } /* '' */
  .icon-instagram:before { content: '\e802'; } /* '' */
  .icon-arrow-long-left:before { content: '\e803'; } /* '' */
  .icon-down-dir:before { content: '\e804'; } /* '' */
  .icon-ok:before { content: '\e805'; } /* '' */
  .icon-minus-1:before { content: '\e806'; } /* '' */
  .icon-plus-1:before { content: '\e807'; } /* '' */
  .icon-cancel:before { content: '\e808'; } /* '' */
  .icon-arrow-long-right:before { content: '\e809'; } /* '' */
  .icon-arrow-right-top:before { content: '\e80a'; } /* '' */
  .icon-arrow-up:before { content: '\e80b'; } /* '' */
  .icon-cart:before { content: '\e80c'; } /* '' */
  .icon-facebook:before { content: '\e80d'; } /* '' */
  .icon-mail:before { content: '\e80e'; } /* '' */
  .icon-map-marker:before { content: '\e80f'; } /* '' */
  .icon-search:before { content: '\e810'; } /* '' */
  .icon-star:before { content: '\e811'; } /* '' */
  .icon-twitter:before { content: '\e812'; } /* '' */
  .icon-user:before { content: '\e813'; } /* '' */
  .icon-arrow-down:before { content: '\e814'; } /* '' */
  .icon-arrow-left:before { content: '\e815'; } /* '' */
  .icon-menu:before { content: '\f0c9'; } /* '' */
  .icon-quote-left:before { content: '\f10d'; } /* '' */
  .icon-quote-right:before { content: '\f10e'; } /* '' */
  .icon-dollar:before { content: '\f155'; } /* '' */
  .icon-youtube-play:before { content: '\f16a'; } /* '' */
  .icon-instagram-1:before { content: '\f16d'; } /* '' */
  .icon-pinterest:before { content: '\f231'; } /* '' */
  .icon-user-o:before { content: '\f2c0'; } /* '' */
  .icon-linkedin:before { content: '\f318'; } /* '' */
  